@use 'common';

html, body {
  overflow-x: hidden;
  width: 100%;
}

.block-slider {
  width: 100%;
  margin: 0;
  font-family: var(--font-family-accent);
  margin-top: 121px;

  .slider-title {
    font-size: 70px;
    white-space: nowrap;
    margin: 20px 50px 20px 50px;
    text-align: left;
  }

  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto; 
    padding: 0;

    .slides {
      display: flex;
      gap: 15px;
      transition: transform 0.5s ease;
      will-change: transform;
    }

    .item {
      height: 500px;
      border: 1px solid var(--color-light-gray);
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .item-button {
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        padding: 12px 45px;
        border: none;
        color: var(--color-light);
        background-color: var(--color-dark-gray);
      
        &:hover {
          filter: brightness(0.9);
        }
        &.in-cart {
          background-color: var(--color-light);             
          color: var(--color-dark-gray);          
        }
      }

    .item { 
      flex: 0 0 calc((100% - 45px) / 4);
    }
    
    @media (max-width: 1023px) and (min-width: 768px) {
      .item {
         flex: 0 0 calc((100% - 30px) / 3);
      }
    }

    @media (max-width: 767px) {
      .item {
         flex: 0 0 calc((100% - 15px) / 2);
      }
    }
    
    .item img {
      width: 100%;
      max-width: 240px;
      height: auto;
      margin: 0 auto;
      padding-top: 30px;
      margin-bottom: 16px;
    }
    
    .item-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 60px;
    }
    
    .item-price {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    
    .item-button {
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      padding: 12px 45px;
      border: none;
      color: var(--color-light);
      background-color: var(--color-dark-gray);
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background: rgba(123, 123, 123, 0.5);
      border: none;
      padding: 10px;
      font-size: 24px;
      cursor: pointer;
      z-index: 10;
    }
    
    .prev {
      left: 5px;
    }
    
    .next {
      right: 5px;
    }
    
    .prev svg,
    .next svg {
      color: var(--color-dark);
    }
  }
}

@media(max-width:767px){
    .block-slider .slider-title {
        font-size: 50px;
        margin: 20px 50px 20px 50px;
      }
}

@media(max-width:480px){
  .block-slider {
         margin-top: 5px;
          .slider-title {
            font-size: 40px;       
            margin: 10px 10px;      
          }
          
          .slider {
            margin-left: 20px;
            padding: 0 10px;  
            
            .slides {
              gap: 10px;        
            }
            
            .item {
              flex: 0 0 calc((100% - 10px) / 2);  
              height: auto;       
              padding: 10px;    
            }
            
            .item img {
              max-width: 100%;
              height: auto;
              padding-top: 10px;
              margin-bottom: 10px;
            }
            
            .item-text {
              font-size: 16px;  
              margin-bottom: 20px;
            }
            
            .item-price {
              font-size: 16px;    
              margin-top: auto;   
              margin-bottom: 5px;
            }
            
            .item-button {
              font-size: 16px;    
              padding: 8px 20px;  
            }
          }
        }
}